<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "uk.co.londonlayout.tflstatus"
        versionCode="0" 
        version   = "0.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Device Tickle</name>

    <description>
        App to show all the events fired on an active page. 
    </description>

    <author href="https://londonlayout.co.uk" email="petersaxton@londonlayout.co.uk">
        Peter Saxton
    </author>
	
	<icon src="icon.png" />
	
	<preference name="permissions" value="none"/>

</widget>